.clear{
	clear     : both;
	width     : 0 !important;
	height    : 0 !important;
	min-height: 0 !important;
	min-width : 0 !important;
	overflow  : hidden;
	float     : none !important;
	border    : 0 none !important;
}

.left{
	float: left;
}

.right{
	float: right;
}

div.container{
	background-image : url('../images/iPadBackgroundTexture-grey.png');
	min-height       : 1000px;
	background-color : #333;
	padding-top      : 1px;
}

div.container ul.options{
	margin  : 100px auto 0 auto;
	display : block;
}

ul.options > li{
	width           : 100px;
	margin-right    : 150px;
	border          : 2px solid #99999a;
	height          : 100px;
	float           : left;
	background-color: gray;
	border-radius   : 5px;
	display         : block;
	position        : relative;
}

 ul.options > li:first-child{
 	margin-left: 150px;
 }

div.container ul.toggle{
	margin-top      : 10px;
	background-image: url('../images/NSTexturedFullScreenBackgroundColor.png');
	box-shadow      : inset 0 0 18px #000;
	height      : 100px;
	display         : block;
}












