.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow:hidden;
}

.left{
	float: left;
}

.right{
	float: right;
}

div.container{
	background-image: url('../images/iPadBackgroundTexture-grey.png');
	min-height:1000px;
	background-color: #333;
	width:100%;
}

div.container div.options{
	width:1100px;
	margin:0 auto;
	
}

 div.options > div{
	width:50px;
	margin-right:150px;
	border:2px solid #99999a;
	height:50px;
	float: left;
	background-color: gray;
	border-radius:3px;
}



















